<?xml version="1.0" encoding="UTF-8"?>
<root>
<name>Fields Notify</name>
<key>fieldsnotify</key>
<state>stable</state>
<description>
<short>
<en><![CDATA[Exposes Additional Fields plugin values as notification tags for Project]]></en>
<es><![CDATA[Expone valores del plugin Campos adicionales como etiquetas de notificacion para Proyecto]]></es>
</short>
<long>
<en><![CDATA[
# Fields Notify

Private internal plugin developed for Omint. Exposes custom fields
created with the "Fields" (Additional Fields) plugin as notification
tags for the Project itemtype, so they can be used in notification
templates (e.g. ##project.objetivosestrategicos##).

No custom database tables. No raw SQL queries: reads the item's
already-loaded custom_fields JSON column via the GLPI framework.
]]></en>
</long>
</description>
<!-- TODO: reemplazar por la URL real del repo -->
<homepage><![CDATA[https://github.com/LucianaCabrera/-glpi-fieldsnotify]]></homepage>
<!-- TODO: reemplazar por la URL real de descarga del .tar.gz una vez creado el Release -->
<download><![CDATA[TODO-URL-DOWNLOAD/fieldsnotify-0.1.0.tar.gz]]></download>
<authors>
<author>Omint</author>
</authors>
<versions>
<version>
<num>0.1.0</num>
<compatibility>11.0</compatibility>
</version>
</versions>
<langs>
<lang>es_AR</lang>
<lang>en_GB</lang>
</langs>
<license><![CDATA[GPL v2+]]></license>
<tags>
<en>
<tag>Notifications</tag>
<tag>Project</tag>
<tag>Fields</tag>
</en>
</tags>
</root>
